[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
l = !"git lg"
st = !"git status"
s = !"git st"
a = !"git add -p"
c = !"git clone"
co = !"git commit -s -S"
d = !"git diff"
f = !"git fetch --all --tags --prune"
cosub = !"git commit -m \"Update submodules\" -m \"$(git diff --staged --submodule=log HEAD)\""
co-author = "!co_authored_commit() { usage='usage: git co-author --author \"name <email>\"\n'; while [ \"${#}\" -gt 0 ]; do case \"${1}\" in --author) shift; co_author=\"Co-authored-by: \"${1}\"\n\"; co_authors=\"${co_authors}${co_author}\"; shift;; *) shift;; esac; done; if [ -z \"${co_authors}\" ]; then echo ${usage}; exit 1; fi; co_authored_message=\"\n\n${co_authors}\"; git commit --amend --message=\"$(git show --format=%B --no-patch HEAD)\" --message=\"${co_authored_message}\"; }; co_authored_commit"
[user]
	name = Darrel Griët
	email = dgriet@gmail.com
	signingkey = AEC0C86DA5BFC9A2FA974689B20ADEFE1E03AA75
[core]
	editor = nano
	autocrlf = input
	pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
#    side-by-side = true
    line-numbers = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[color]
	ui = auto
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[format]
	signoff = true
[init]
	templatedir = ~/.git-templates
[submodule]
	recurse = true
[pull]
	ff = only
[merge]
	ff = only
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = dgriet@gmail.com
	smtpServerPort = <PORT>
	smtpPass = <PASS>
