@define-color foreground #c1cacd;
@define-color background rgba(0, 0, 0, 0.5);
@define-color cursor #c1cacd;

@define-color color0 #0e110c;
@define-color color1 #7A8140;
@define-color color2 #949437;
@define-color color3 #4C7488;
@define-color color4 #6F8F9E;
@define-color color5 #718D96;
@define-color color6 #96A5AA;
@define-color color7 #c1cacd;
@define-color color8 #878d8f;
@define-color color9 #7A8140;
@define-color color10 #949437;
@define-color color11 #4C7488;
@define-color color12 #6F8F9E;
@define-color color13 #718D96;
@define-color color14 #96A5AA;
@define-color color15 #c1cacd;
