@import "colors-waybar.css";

* {
    font-family: 'sans-serif', 'Symbols Nerd Font Mono';
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

button,
#custom-notifications {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

button, label {
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

#backlight-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @foreground;
}


/* === Modules === */

#bluetooth,
#custom-maximized,
#backlight,
#network,
#cpu,
#pulseaudio,
#clock,
#custom-playerctl,
#window,
#battery,
#cava,
#mode,
#custom-powermenu {
    opacity: 0.8;
    font-weight: bolder;
}

#clock,
#custom-playerctl {
    padding: 0 10px;
}

/* === Workspaces === */

#workspaces * {
    text-shadow: none;
    border: none;
    border-radius: 0;
    min-height: 0;
}

#workspaces button {
    box-shadow: inset 0 2px;
    color: @color5;
}

#workspaces button.active,
#workspaces button.focused {
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inset 0 2px;
}

#workspaces .text-button {
    min-height: 2px;
    padding: 0 16px;
}

#workspaces .text-button label {
    font-size: 0;
}

/* === Battery === */

#battery.charging {
    color: #ECE0A8;
}

#battery.warning:not(.charging) {
    color: #ECE0A8;
}

#battery.critical:not(.charging) {
    color: #E97193;
}