.desktop {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    .clock {
        color: transparentize(white, 0.5);
        padding: 220px;
        .time {
            .hour, .minutes, .separator{
                font-size: 180pt;
                font-family: $mono_font;
                font-weight: 800;
            }
        }
        .date {
            margin: -200px;
            font-size: 18pt;
            font-family: $mono_font;
            font-weight: 800;
        }
    }
}
