.media-window{
    padding: 0;
    .media{
        @include media($height: 20em, $style: 'popover');
        padding: 0;
        .cover{
            min-width: 20em;
        }
    }
}
.mem
{
    color: #FAE3B0;
    // background-color: #302D41;
    // border-radius: 10px;
}
.cpu
{
    color: #F5C2E7;
    // background-color: #302D41;
    // border-radius: 10px;
    // margin-right: 30px;
}