Config(

  prefix: "p ",

  engines: [

    Custom(
      name: "Lock",
      cmd: "loginctl lock-session",
      icon: "system-lock-screen",
    ),

    Logout,
    Suspend,
    Hibernate,
    Reboot,
    Shutdown,

  ],

  max_entries: 12,
)